{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section text-center">
        <div class="parallax-container"
             data-parallax-img="{% static 'images/a2431dd34b81ae06ebbb526c2c4565d6_660_1200_c.jpg' %}">
            <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-2-21">
                <div class="container">
                    <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span
                            class="d-block font-weight-semi-bold">¡Pon a prueba tus competencias digitales!</span></h2>
                    <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">Desarrolla tus
                        habilidades digitales para transformar la educación y potenciar tu crecimiento profesional.<br>
                        Tiempo estimado: 10 min.</p>
                    <a href="{% url 'evaluate' role_id=role_id %}" class="button button-secondary button-pipaluk text-decoration-none">Empezar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-sm section-last bg-default bg-gray-4">
        <div class="container text-center">
            <h3 class="heading-2 oh font-weight-normal">¿Qué áreas de competencias se pondrán a prueba?</h3>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30"
                 data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Compromiso profesional</h5>
                        </div>
                        <p class="q">Esta evaluación tiene como objetivo analizar la capacidad del docente para
                            reflexionar de manera crítica sobre su práctica pedagógica y utilizar las tecnologías
                            digitales como herramientas para identificar áreas de mejora y desarrollar nuevas
                            estrategias de enseñanza. </p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Contenidos Digitales</h5>
                        </div>
                        <p class="q">Se valorará su habilidad para encontrar y adaptar materiales existentes, así como
                            para desarrollar nuevos recursos educativos digitales que se ajusten a las necesidades
                            específicas de sus estudiantes. Además, se evaluará su conocimiento sobre las licencias
                            abiertas y los derechos de autor, y su capacidad para organizar y compartir los recursos de
                            forma responsable y legal.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Enseñanza y aprendizaje</h5>
                        </div>
                        <p class="q">Se valorará su habilidad para diseñar actividades y experiencias de aprendizaje
                            innovadoras, utilizando diferentes herramientas y plataformas digitales. Además, se evaluará
                            su capacidad para brindar un acompañamiento personalizado a sus estudiantes, utilizando las
                            tecnologías para facilitar la comunicación y la colaboración.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Evaluación y retroalimentación</h5>
                        </div>
                        <p class="q">Esta evaluación busca determinar si el docente es capaz de aprovechar las
                            potencialidades de las herramientas digitales para diseñar evaluaciones auténticas que
                            reflejen los aprendizajes del siglo XXI y permitan obtener información detallada sobre el
                            progreso de cada estudiante.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Empoderamiento de los estudiantes</h5>
                        </div>
                        <p class="q">Se busca evaluar la capacidad del docente para crear entornos de aprendizaje
                            inclusivos y personalizados, utilizando las tecnologías digitales, para garantizar el acceso
                            de todos los estudiantes a los recursos y actividades, independientemente de sus necesidades
                            especiales. </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}

