{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section text-center">
        <div class="parallax-container "
             data-parallax-img="{% static 'images/noDocenteForm1.jpg' %}">
            <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-2-21">
                <div class="container">
                    <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span
                            class="d-block font-weight-semi-bold">¡Pon a prueba tus competencias digitales!</span></h2>
                    <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">Desarrolla tus
                        habilidades digitales para transformar la educación y potenciar tu crecimiento profesional. <br> Tiempo estimado: 10 min.</p>
                    <a class="button button-secondary button-pipaluk text-decoration-none"
                       href="{% url 'evaluate' %}">Empezar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-sm section-last bg-default bg-gray-4">
        <div class="container text-center">
            <h3 class="heading-2 oh font-weight-normal">¿Qué áreas de competencias se pondrán a prueba?</h3>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30"
                 data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite"> Gestión de la información y datos</h5>
                        </div>
                        <p class="q">Se pretende analizar la capacidad del personal para gestionar, 
                            organizar y proteger la información y los datos institucionales de manera eficiente. 
                            Esto incluye el uso adecuado de herramientas digitales, la aplicación de normas de 
                            seguridad y privacidad, y la optimización de procesos administrativos mediante el 
                            manejo responsable de la información, garantizando su accesibilidad, integridad y 
                            confidencialidad. </p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite"> Comunicación y colaboración</h5>
                        </div>
                        <p class="q">Se valorará la capacidad de utilizar herramientas digitales que faciliten 
                            la comunicación efectiva y el trabajo colaborativo dentro de la institución. 
                            Esto incluye el uso adecuado de plataformas de mensajería, correo electrónico y 
                            gestión de proyectos, fomentando una interacción clara, organizada y accesible entre 
                            equipos de trabajo, estudiantes y otros actores institucionales.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Creación de contenidos digitales</h5>
                        </div>
                        <p class="q">Se busca evaluar la habilidad para generar y adaptar contenidos digitales 
                            que mejoren la gestión administrativa y la comunicación institucional. Esto implica 
                            el uso de herramientas para la edición de documentos, imágenes, presentaciones y otros 
                            formatos multimedia, garantizando que la información sea clara, accesible y adecuada 
                            para su propósito.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Seguridad digital</h5>
                        </div>
                        <p class="q">Se busca determinar la capacidad para aplicar buenas 
                            prácticas en ciberseguridad y protección de datos dentro de la institución. 
                            Esto abarca el manejo seguro de credenciales, la identificación de riesgos digitales, 
                            la gestión de accesos y la prevención de incidentes de seguridad, asegurando la integridad 
                            y privacidad de la información.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Resolución de problemas</h5>
                        </div>
                        <p class="q">Se pretende valorar la capacidad del personal no docente para identificar y 
                            solucionar problemas técnicos y administrativos relacionados con el uso de herramientas 
                            digitales. Esto incluye la adopción de estrategias para optimizar procesos, la toma de 
                            decisiones basadas en el análisis de datos y la capacidad de adaptarse a nuevas tecnologías 
                            para mejorar la eficiencia en su trabajo.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}

