{% load static %}
<section class="section section-sm">
    <div class="container">
        <h3 class="d-flex justify-content-center">Tus beneficios</h3>
        <div class="row row-30">

            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <div class="">
                            <div class="box-icon-classic-icon fa-bookmark-o"></div>
                        </div>
                        <div class="h-100">
                            <h5 class="box-icon-classic-title">Amplía tu perspectiva</h5>
                            <p class=" box-icon-classic-text mx-2">Descubre nuevas áreas del mundo digital que pueden potenciar tu desempeño y abrirte oportunidades profesionales.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <div class="">
                            <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                        </div>
                        <div class="">
                            <h5 class="box-icon-classic-title">Identifica tus fortalezas</h5>
                            <p class=" box-icon-classic-text mx-2">Descubre en qué áreas digitales destacas y cómo puedes
                                aprovechar tus competencias en tu labor.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <div class="">
                            <div class="box-icon-classic-icon fl-bigmug-line-flag53"></div>
                        </div>
                        <div class="text-center">
                            <h5 class="box-icon-classic-title">Planea tu desarrollo</h5>
                            <p class="box-icon-classic-text mx-2">Obtén recomendaciones personalizadas para mejorar tus
                                habilidades digitales y alcanzar tu máximo potencial.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

</section>