    <footer class="section footer-corporate context-dark">

      <div class="footer-corporate-bottom-panel">
        <div class="container">
          <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
            <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
              <div>
                <ul class="list-inline list-inline-sm footer-social-list-2">
                  <li><a class="icon fa fa-facebook" href="https://www.facebook.com/UNCUYO/?locale=es_LA" target="_blank"></a></li>
                  <li><a class="icon fa fa-twitter" href="https://x.com/UNCUYO?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor&mx=2" target="_blank"></a></li>
                  <li><a class="icon fa fa-google-plus" href="https://www.uncuyo.edu.ar/" target="_blank"></a></li>
                  <li><a class="icon fa fa-instagram" href="https://www.instagram.com/uncuyo/?hl=es-la" target="_blank"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 order-sm-first">
              <!-- Rights-->
              <p class="rights"><span>&copy;&nbsp;</span><span
                  class="copyright-year"></span><span>&nbsp;</span><span>Universidad Nacional de Cuyo</span>.</p>
                <p class="rights">All Rights
                Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>